/* VISUAL */
.visual {
  /* top 말고 margin-top을 쓰는 이유 :
  다른 블록요소와 해당요소를 상호작용 시키며 떨어져 배치시키는 경우 margin-top쓰는 것이 바람직함. */
  margin-top: 120px;
  background-image: url("../images/visual_bg.jpg");
  /* 배경이미지는 정 가운데에 하나만 위치시키기 */
  background-position: center;
}

.visual .inner {
  height: 646px;
}

/* 반복이 많은 클래스 부분들은 생략 가능
    ex) inner : 가운데 정렬을 위함이지 'visual'과는 직접적인 관련이 없으므로 생략 */
.visual .title {
  position: absolute;
  top: 88px;
  left: -10px;
}

/* title 위치이동시 btn도 딸려서 위치이동 하여 배치 쉽게끔. */
.visual .title .btn {
 position: absolute;
 top: 259px;
 left: 173px;
}
/* cup1.image 처럼 클래스두개가 붙어있는경우 = 일치선택자 ! */
.visual .cup1.image {
  position: absolute;
  top: 0;
  right: -47px;
}

.visual .cup1.text {
  position: absolute;
  top: 38;
  right: 171px;
}

.visual .cup2.image {
  position: absolute;
  bottom: 0;
  right: 162px;
}

.visual .cup2.text {
  position: absolute;
  top: 321px;
  right: 416px;
}

.visual .spoon {
  position: absolute;
  bottom: 0;
  left: 275px;
}

.visual .fade-in {
  opacity: 0;
}


/* NOTICE */
.notice {

}

.notice .notice-line {
  position: relative;
}

/* bg-left와 bg-right는 이름 그대로 색상적용만이 목적. */
.notice .notice-line .bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #333;
}

.notice .notice-line .bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
}

/* 부모요소인 notice-line의 높이값이 없으므로 그 자식 요소인 inner의 크기에 맞춰짐.
(나머지 두 요소는 높이값은 부모의 100%로 상대적인 높이를 가지므로)*/
.notice .notice-line .inner {
  height: 62px;
  /* 기본적으로 수직정렬 되어있는 inner__left, inner__right 수평적용 */
  display: flex;
  z-index: 1;
}

.notice .notice-line .inner .inner__left {
  /* 공지사항 영역에서 검은 부분이 영역을 좀더 차지함. 
  (기존 배경으로 넣은 bg-left, bg-right는 50%씩이나 아래 적용으로 inner의 60%로 적용해버리면
  우선순위상 inner-left가 bg-left를 덮으면서 60% 영역차지 효과 */
  width: 60%;
  height: 100%;
  /* 추가 10%의 영역을 덧칠해주기 위함*/
  background-color: #333;
  display: flex;
  align-items: center;
}

.notice .notice-line .inner .inner__left h2 {
  color: #FFF;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}

.notice .notice-line .inner .inner__left .swiper-container {
  /* 부모 콘텐츠에 있는 align-items:center; 적용시  기본 stretch 설정에서 center로 바뀌면서 높이값이 사라짐*/
  height: 62px;
  /* display:flex; 의 결과로 최소한의 영역만 차지하려고 하는 요소를 최대 차지하게 변경*/
  flex-grow: 1;
}

.notice .notice-line .inner .inner__left .swiper-slide {
  height: 62px;
  display: flex;
  align-items: center;
}

.notice .notice-line .inner .inner__left .swiper-slide a {
  color:#fff;
}

.notice .notice-line .inner .inner__left .notice-line__more {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice .notice-line .inner .inner__left .notice-line__more .material-icons {
  color: #fff;
  /*아이콘 기본 사이즈는 42px*/
  font-size: 30px;
}

.notice .notice-line .inner .inner__right {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* 배경색 필요 없음. */
}

.notice .notice-line .inner .inner__right h2 {
  font-size: 17px;
  font-weight: 700;
}

.notice .notice-line .inner .inner__right .toggle-promotion {
  width: 62px;
  height: 62px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice .notice-line .inner .inner__right .toggle-promotion .material-icons {
  font-size: 30px;
}

.notice .promotion {
  height: 693px;
  background-color: #f6f5ef;
  position: relative;
  /* 요소의 크기가 줄어들면서 그 내용이 영역밖으로 넘치지 않게 */
  transition: height .4s;
  overflow: hidden;
}

/* 일치선택자 */
.notice .promotion.hide {
  height: 0;
}

.notice .promotion .swiper-container {
  width: calc(819px * 3 + 20px);
  height: 553px;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: calc((819px * 3 + 20px) / -2);
}

.notice .promotion .swiper-slide {
  opacity: .5;
  transition: opacity 1s;
  position: relative;
}

.notice .promotion .swiper-slide-active {
  opacity: 1;
}

.notice .promotion .swiper-slide .btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}


.notice .promotion .swiper-pagination {
  bottom: 40px;
  left: 0;
  right: 0;
  /* position, text-align 이미 swiper 내부적으로 적용되어 있음. */
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  background-image: url("../images/promotion_slide_pager.png");
  width: 12px;
  height: 12px;
  margin-right: 6px;
  outline: none;
}

/* 마지막 불렛에는 각 불렛들에 넣어준 우측 마진값이 필요가 없음 */
.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url("../images/promotion_slide_pager_on.png");
}

/* 다중선택자의 적용(공통된 css적용 필요할 때) */
.notice .promotion .swiper-prev,
.notice .promotion .swiper-next {
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  z-index: 1;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
}

/* 따로 적용 필요한 css는 각자 */
.notice .promotion .swiper-prev {
  left: 50%;
  margin-left: -480px;
}

.notice .promotion .swiper-next {
  right: 50%;
  margin-right: -480px;
}

.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-next:hover {
  background-color: #333;
  color: #fff;
}

/* REWARDS */
.rewards {
  position: relative;
}

.rewards .bg-left {
  width: 50%;
  height: 100%;
  background-color: #272727;
  position: absolute;
  top: 0;
  left: 0;
}

.rewards .bg-right {
  width: 50%;
  height: 100%;
  background-color: #d5c798;
  position: absolute;
  top: 0;
  right: 0;
}

.rewards .inner {
  background-image: url('../images/rewards.jpg');
  height: 241px;
}

.rewards .inner .btn-group {
  position: absolute;
  bottom: 24px;
  right: 0px;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
}

.rewards .inner .btn-group .btn.sign-up {
  margin-right: 10px;
}

.rewards .inner .btn-group .btn.sign-in {
  width: 110px;
}

.rewards .inner .btn-group .btn.gift {
  margin-top: 10px;
  flex-grow: 1;
}

.youtube {
  position: relative;
  height: 700px;
  background-color: #333;
  overflow: hidden;
}

.youtube .youtube__area {
  width: 1920px;
  background-color:orange;
  position: absolute;
  /* 수평 가운데 정렬 */
  left: 50%;
  margin-left: calc(1920px / -2);
  /* 수직 가운데 정렬(가로 16 : 세로 9의 비율임을 감안하여 세로 길이 측정) */
  top: 50%;
  margin-top: calc(1920px * 9 / 16 / -2); 
}

.youtube .youtube__area::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-top: 56.25%; /* 16:9 비율 */
}

/* 배경으로 깔려있는 영상이므로 해당 동영상을 살짝 어둡게 표시하기 위함 */
.youtube .youtube__cover {  
  background-image: url("../images/video_cover_pattern.png");
  background-color: rgba(0,0,0,.3);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.youtube .inner {
  height: 700px;
}

.youtube .floating1 {
  position: absolute;
  top: 50px;
  left: 0;
}

.youtube .floating2 {
  position: absolute;
  top: 350px;
  left: 150px;
}


/* SEASON PRODUCT */
.season-product {
  background-image: url("../images/season_product_bg.jpg");
}

.season-product .inner {
  height: 400px;
}

.season-product .floating3 {
  position: absolute;
  top: -200px;
  right: 0;
}

.season-product .inner .text-group {
  position: absolute;
  top: 110px;
  right: 110px;
}

.season-product .inner .text-group .title {
  margin-bottom: 10px;
}

.season-product .inner .text-group .description {
  margin-bottom: 15px;
}

.season-product .inner .text-group .more {

}

/* RESERVE COFFEE */
.reserve-coffee {
  background-image: url("../images/reserve_bg.jpg");
}

.reserve-coffee .inner {
  height: 400px;
}

.reserve-coffee .reserve-logo {
  position: absolute;
  top: 110px;
  left: 0;
}

.reserve-coffee .text-group {
  position:absolute;
  top: 124px;
  left: 208px;
}

.reserve-coffee .product {
  position: absolute;
  top: 0;
  right: 0;
}

/* PICK YOUR FAVORITE */
.pick-your-favorite {
  background-image: url("../images/favorite_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /* 스크롤시 배경이 고정되어 안 딸려올라감 */
  background-size: cover; /* 배경 이미지를 요소의 더 넓은 부분에 맞춰 출력 */
}

.pick-your-favorite .inner {
  padding: 110px 0;
}

.pick-your-favorite .text-group {
  margin-left: 100px;
  width: 362px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.pick-your-favorite .text-group .title {
  margin-bottom: 40px;
}

.pick-your-favorite .text-group .description {
  margin-bottom: 40px;
}

/* RESERVE STORE */
.reserve-store {
  background-image: url("../images/reserve_store_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  block-size: cover;
}

.reserve-store .inner {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reserve-store .medal {
  width: 330px;
  height: 330px;
  perspective: 600px;
}

.reserve-store .medal .front,
.reserve-store .medal .back {
  width: 330px;
  height: 330px;
  backface-visibility: hidden;
  transition: 1s;
  position: absolute;
}

.reserve-store .medal .front {
  transform: rotateY(0deg);
}

.reserve-store .medal:hover .front {
  transform: rotateY(180deg);
}

.reserve-store .medal .back {
  transform: rotateY(-180deg);
}

.reserve-store .medal:hover .back {
  transform: rotateY(0deg);
}

.reserve-store .medal .back .btn {
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  margin: auto;
}

/* FIND THE STORE */
.find-store {
  background-image: url("../images/find_store_bg.jpg");
}

.find-store .inner {
  height: 400px;
}

.find-store .texture1 {
  position: absolute;
  top: 0;
  left: 400px;
}

.find-store .texture2 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.find-store .picture {
  border-radius: 50%; /* 모서리를 동그랗게 */
  box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
  position: absolute;
}

.find-store .picture1 {
  top: -60px;
  left: 0;
}

.find-store .picture2 {
  top: 150px;
  left: 250px;
}

.find-store .text-group {
  position: absolute;
  top: 120px;
  left: 550px;
}

.find-store .text-group .title {
  margin-bottom: 20px;
}

.find-store .text-group .description {
  margin-bottom: 20px;
}

/* AWARDS */
.awards {
  background-color: #272727;
}

.awards .inner {
  padding: 40px 0;
}

.awards .swiper-container {
  width: 100%;
  height:40px;
}

.awards .swiper-prev,
.awards .swiper-next {
  width: 42px;
  height: 42px;
  border: 2px solid #fff;
  border-radius: 50%;
  outline: none;
  color: #fff;
  opacity: .3;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.awards .swiper-prev {
  left: -100px;
}

.awards .swiper-next{
  right: -100px;
}

.awards .swiper-prev:hover,
.awards .swiper-next:hover {
  background-color: #fff;
  color: #333;
}

#to-top {
  width: 42px;
  height: 42px;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
}